<section class="relative xd" id="mi" >
<div>
    <div class="py-6 w-full flex flex-col justify-center items-center">
        <h2 class="font-semibold text-[2.5rem]">Sobre Mi</h2>
        <span class="into">Introducción</span>
    </div>
    <div class= " flex flex-col justify-center gap-4 items-start px-[2rem] sm:flex-row">
        <div class="about_img  w-full sm:w-[550px]">
        </div>
        <div class=" w-full sm:w-[550px]   sm:pt-3 ">
            <p class="text-[0.89rem] 850px:text-[1.1rem]" [class.dark]="isDark()">
                Hola, soy Abel Hurtado Sandoval -  desarrollador web apasionado, comence como una persona autodidacta desde los 16 años, aprendiendo a través de proyectos y cursos online. A lo largo de mi carrera, he dominado tecnologías como Next, React y Angular, y actualmente estudio Ingeniería de Sistemas en la UPAO en Trujillo, Perú. He trabajado como desarrollador front-end en la UCV, siempre buscando mejorar y aprender cada día. Mi objetivo es crear sitios modernos y funcionales, aportando valor con cada proyecto y dejando una huella en el mundo de la tecnología. ¡Hagamos algo genial juntos!
            </p>
            <button  class=" mt-3 custom-button p-button ripple-effect press-button w-full  sm:w-fit" (click)="eventos.onRippleEffect($event);eventos.scrollToElement('contactoSeccion')">
                <span class="button-text text-center sm:text-left w-full">Contáctame</span>
                <span class="hover-overlay"></span>
            </button>
        </div>
    </div>
</div>
</section> 