<section class="relative px-5 xd2" id="servicios">
<div>
  <div class="py-6 w-full flex flex-col justify-center items-center">
    <h2 class="font-semibold text-[2.5rem]">Experiencia</h2>
</div>
<div class="flex w-full justify-center items-center flex-wrap">
<div class="card-container h-[600px] my-5 sm:m-5" [class.dark]="isDark()">
    <div class="decorative-top"></div>
    <div class="card-content w-full flex justify-center items-center flex-col h-full">
      <img src="assets/desiñador.svg" alt="Ilustración de Desarrollo Web" class="illustration">

      <h2 class="card-title"> Front-End  Universidad César Vallejo (UCV)</h2>
    <p class="title-respo  font-semibold" > Fecha: [04/2024] – [11/2024]</p>
      <p class="title-respo my-3">Responsabilidades:</p>
      <ul class="features-list text-left " [class.white]="isDark()">
        <li>- Creación de interfaces de usuario modernas y funcionales, centradas en la experiencia del usuario (UX).</li>
        <li>- Desarrollo y mantenimiento de aplicaciones web utilizando tecnologías Angular</li>
        <li class="text-left">- Implementación de buenas prácticas de desarrollo ágil y metodologías como Scrum.</li>
        <li>- Consumo de APIs RESTful para integrar datos dinámicos en las aplicaciones.</li>
        <li>- Consumo y gestión de APIs para mejorar la integración y el flujo de datos dentro del sistema</li>
      </ul>
    </div>
    <div class="decorative-bottom"></div>
  </div>
  <div class="card-container h-[600px] my-5 sm:m-5" [class.dark]="isDark()">
    <div class="decorative-top"></div>
    <div class="card-content w-full flex justify-center items-center flex-col h-full">
      <img src="assets/desiñador.svg" alt="Ilustración de Desarrollo Web" class="illustration">

      <h2 class="card-title">Proyectos Personales y Freelance</h2>
    <p class="title-respo  font-semibold" > Fecha: [01/2022] – [03/2024]</p>
      <p class="title-respo my-3">Responsabilidades:</p>
      <ul class="features-list text-left"  [class.white]="isDark()">
        <li>- Desarrollo de sitios web desde cero utilizando Next.js, React y Node.js para crear aplicaciones modernas y escalables.</li>
        <li>- Desarrollo y mantenimiento de aplicaciones web utilizando tecnologías Angular</li>
        <li class="text-left">- Implementación de soluciones de diseño responsivo y accesibilidad para garantizar una experiencia de usuario óptima en dispositivos móviles y de escritorio.</li>
        <li>- Gestión de proyectos de desarrollo web de manera independiente, desde la planificación hasta la implementación.</li>
      </ul>
    </div>
    <div class="decorative-bottom"></div>
  </div>
</div>
</div>
</section >