<section class="relative px-5" id="servicios">
<div>
  <div class="py-6 w-full flex flex-col justify-center items-center">
    <h2 class="font-semibold text-[2.5rem]">Servicios</h2>
</div>
<div class="flex w-full justify-center items-center flex-wrap">
<div class="card-container h-[500px] m-5">
    <div class="decorative-top"></div>
    <div class="card-content w-full flex justify-center items-center flex-col h-full">
      <img src="assets/desiñador.svg" alt="Ilustración de Desarrollo Web" class="illustration">

      <h2 class="card-title">Desarrollo Web</h2>
      <ul class="features-list">
        <li>- Desarrollo de interacción con el usuario</li>
        <li class="text-left">- Web Dinámica</li>
        <li>- Web Adaptable a cualquier dispositivo</li>
      </ul>
    </div>
    <div class="decorative-bottom"></div>
  </div>
  <div class="card-container h-[500px] m-5">
    <div class="decorative-top"></div>
    <div class="card-content w-full flex justify-center items-center flex-col h-full">
      <img src="assets/desiñador.svg" alt="Ilustración de Desarrollo Web" class="illustration">

      <h2 class="card-title">Diseño Web</h2>
      <ul class="features-list">
        <li class="text-left">- Personalizar y diseñar su web</li>
        <li class="text-left">- Diseños Modernos </li>
      </ul>
    </div>
    <div class="decorative-bottom"></div>
  </div>
</div>
</div>
</section >