<section class=" py-9 h-fit px-7" id="habilidades">
    <div class="py-16 text-center">
        <div class="py-6 w-full flex flex-col justify-center items-center">
            <h2 class="font-semibold text-[2.5rem]">Habilidades</h2>
            <span class="into">Tecnologias que domino</span>
            <svg width="44" height="44" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="heartbeat mt-3">
                <path d="M8 5L4 12L8 19" stroke="#e84b85" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16 5L20 12L16 19" stroke="#e84b85" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-5xl mx-auto">
          <div class="bg-white shadow-lg py-9 p-6 rounded-lg html">
            <img src="assets/html.png" alt="HTML" class="w-12 h-12 mx-auto mb-4 ">
            <h3 class="text-[1.6rem] font-semibold">HTML</h3>
            <p class="mt-2 text-gray-600">Estructuras semánticas y accesibles.</p>
          </div>
          <div class="bg-white shadow-lg py-9 p-6 rounded-lg css">
            <img src="assets/css.png" alt="CSS" class="w-12 h-12 mx-auto mb-4">
            <h3 class="text-[1.6rem] font-semibold">CSS</h3>
            <p class="mt-2 text-gray-600">Diseños responsivos y modernos.</p>
          </div>
          <div class="bg-white shadow-lg  py-9 p-6 rounded-lg java">
            <img src="assets/java.webp" alt="JavaScript" class="w-12 h-12 mx-auto mb-3">
            <h3 class="text-[1.6rem] font-semibold">JavaScript</h3>
            <p class="mt-2 text-gray-600">Interactividad y lógica avanzada.</p>
          </div>
          <div class="bg-white shadow-2xl py-9 p-6 rounded-lg angular">
            <img src="../../../assets/angular.png" alt="Angular" class="w-12 h-10 mx-auto mb-3">
            <h3 class="text-[1.6rem] font-semibold">Angular</h3>
            <p class="mt-2 text-gray-600">Desarrollo de aplicaciones robustas.</p>
          </div>
          <div class="bg-white shadow-2xl py-9 p-6 rounded-lg react">
            <img src="assets/react.webp" alt="React" class="w-12 h-12 mx-auto mb-4">
            <h3 class="text-[1.6rem] font-semibold">React</h3>
            <p class="mt-2 text-gray-600">Interfaces dinámicas y eficientes.</p>
          </div>
          <div class="bg-white custom shadow-2xl py-9 p-6 rounded-lg next">
            <img src="assets/next.svg" alt="Next.js" class="w-12 h-12 mx-auto mb-4">
            <h3 class="text-[1.6rem] font-semibold">Next.js</h3>
            <p class="mt-2 text-gray-600">Renderizado rápido y SEO optimizado.</p>
          </div>
        </div>
      </div>
</section>