<nav  [ngClass]="{'scroll-header': isScrolled}" class="fixed top-0 left-0 z-10 w-full">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        
        <!-- Botón para abrir el menú móvil -->
        <div class="absolute inset-y-0 left-0 flex  z-30 items-center custom-md:hidden">
          <button type="button" [ngStyle]="{color: isScrolled ? 'var(--color-title)' : 'white'}" (click)="toggleMobileMenu()" class="inline-flex items-center justify-center rounded-md p-2 icono_menu hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <span class="sr-only">Open main menu</span>
            <svg *ngIf="!mobileMenuOpen" class="block h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <svg *ngIf="mobileMenuOpen" class="block h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
  
        <!-- Logo y Links para escritorio -->
        <div class="flex flex-1 items-center justify-center  custom-md:items-stretch custom-md:justify-start">
          <div class="flex shrink-0 items-center">
            <p  class="xd  z-30 text-[#fff] text-[35px] cursor-pointer" (click)="_eventos.scrollToElement('inicio')" [ngStyle]="{color: isScrolled ? 'var(--color-title)' : 'white'}">Abel</p>
          </div>
        </div>
  
        <!-- Menú de perfil y notificaciones -->
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 custom-md:static custom-md:inset-auto custom-md:ml-6 custom-md:pr-0">
          <!-- Menú desplegable del perfil -->
          <div class="relative ml-3">
            <div class="flex gap-2">
                <div class="hidden justify-center items-center custom-md:ml-6 custom-md:flex">
                    <div class="flex space-x-4 ">
                      <li *ngFor="let link of links" >
                        <app-nav-link
                          [label]="link.label"
                          [section]="link.section"
                          [active]="activeSection === link.section"
                          [isScrolled]="isScrolled"
                          (linkClick)="setActiveSection(link.section)"
                        ></app-nav-link>
                      </li>
                    </div>
                  </div>  
              <button type="button" (click)="toggleDropdown()" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <div class="icon-button">
                    <i class="pi pi-plus"></i>
                  </div>
              </button>
            </div>
  
            <!-- Dropdown menu -->
            <div *ngIf="dropdownOpen" id="dropdown-menu" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
              <a routerLink="/educacion" class="block  px-4 py-2 text-sm text-gray-700"
                 [ngClass]="{'active': activeSection === 'educacion'}"
                 role="menuitem" (click)="setActiveLink('educacion');">Educación</a>
                @if(this.isDark()){
                  <button #button [class.active]="isPressed()" class="w-full px-4  py-2 text-left" (click)="handClick($event)" >
                    <p-button icon="pi pi-sun" class=" text-sm font-normal text-gray-700"  [class.colorP]="styleRojo()" label="Light" size="large" ></p-button>
                  </button>
                }@else{
                  <button #button [class.active]="isPressed()" class="w-full px-4  py-2 text-left" (click)="handClick($event)" >
                    <p-button icon="pi pi-moon" class=" text-sm font-normal text-gray-700"  [class.colorP]="styleRojo()" label="Dark" size="large" ></p-button>
                  </button>
                }
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Menú móvil colapsable -->
    <div *ngIf="mobileMenuOpen" class="custom-md:hidden red" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 movil">
        <a href="javascript:void(0);"
           class="block m rounded-md px-3 py-2 text-base font-medium  hover:bg-customRed-dark hover:text-white"
           [ngClass]="{'active': activeSection === 'inicio'}"
           (click)="setActive('inicio'); _eventos.scrollToElement('inicio');toggleMobileMenu();handEvent('inicio')" >Inicio</a>
        <a href="javascript:void(0);"
           class="block m rounded-md px-3 py-2 text-base font-medium  hover:bg-customRed-dark hover:text-white"
           [ngClass]="{'active': activeSection === 'proyectos'}"
           (click)="setActive('proyectos'); _eventos.scrollToElement('proyectos');toggleMobileMenu();handEvent('proyectos')">Proyectos</a>
        <a href="javascript:void(0);" 
           class="block m rounded-md px-3 py-2 text-base font-medium  hover:bg-customRed-dark hover:text-white"
           [ngClass]="{'active': activeSection === 'servicios'}"
           (click)="setActiveLink('servicios');_eventos.scrollToElement('servicios');toggleMobileMenu();handEvent('servicios')">Servicios</a>
        <a href="javascript:void(0);"
           class="block m rounded-md px-3 py-2 text-base font-medium  hover:bg-customRed-dark hover:text-white"
           [ngClass]="{'active': activeSection === 'contactoSeccion'}"
           (click)="setActiveLink('contactar');_eventos.scrollToElement('contactoSeccion');toggleMobileMenu();handEvent('contactoSeccion')">Contactar</a>
      </div>
    </div>
  </nav>
  