<section class="py-9  h-fit " id="contactoSeccion" #contactoSeccion>
  <p-toast></p-toast>
  <p-confirmDialog />
<!-- Capa de Loading -->
<div *ngIf="isLoading" class="loading-overlay">
  <p-progressSpinner></p-progressSpinner>
</div>

<div>
  
  <div class="py-6 w-full flex flex-col justify-center items-center">
    <h2 class="font-semibold text-[2.5rem]">Contactar</h2>
</div>
<div class="flex flex-wrap justify-center items-start gap-8 px-4 mt-8 overflow-hidden">
    <!-- Información de contacto -->
    <div class="flex flex-col space-y-4 relative mr-11 info-contact">
      <h3 class="">Mantengámonos en contacto</h3>
      <p class="text-[1rem] font-semibold ">Si tienes algo en mente contáctame <br>y trabajemos en esa idea</p>
      <div class="flex items-center space-x-2">
        <i class="pi pi-map-marker text-2xl s"></i>
        <span>Libertad-Trujillo-Rinconada</span>
      </div>
      <div class="flex items-center space-x-2">
        <i class="pi pi-phone text-2xl s "></i>
        <span>926 488 675</span>
      </div>
      <div class="flex items-center space-x-2">
        <i class="pi pi-envelope text-2xl s"></i>
        <span>abelgm.crack&#64;gmail.com</span>
      </div>
      <div class="overlay_cicle_two">

      </div>
      <div class="mt-4">
        <h3 class="font-semibold ">Contáctame:</h3>
        <div class="flex space-x-4 mt-2">
          <a href="#" class="text-blue-800 hover:text-blue-600">
            <i class="pi pi-facebook text-3xl"></i>
          </a>
          <a href="#" class="text-blue-800 hover:text-blue-600">
            <i class="pi pi-whatsapp text-3xl"></i>
          </a>
        </div>
      </div>
    </div>

    <!-- Formulario de contacto -->
    <div class="py-8 px-12 w-full max-w-md text-white form relative">
      <h3 class="text-xl font-semibold mb-4 !text-[#fff] w-full !text-center">Contactarme</h3>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <!-- Campo: Nombre -->
        <div class="mb-4">
          <input
            type="text"
            formControlName="nombre"
            placeholder="Nombre"
            class="w-full p-2 rounded border border-white bg-blue-600 text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
          <small class="text-red-50" *ngIf="contactForm.get('nombre')?.touched && contactForm.get('nombre')?.invalid">
            El nombre es obligatorio y debe tener al menos 3 caracteres.
          </small>
        </div>
    
        <!-- Campo: Email -->
        <div class="mb-4">
          <input
            type="email"
            formControlName="email"
            placeholder="Gmail"
            class="w-full p-2 rounded border border-white bg-blue-600 text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
          <small class="text-red-500" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
            Introduce un correo válido.
          </small>
        </div>
    
        <!-- Campo: Número -->
        <div class="mb-4">
          <input
            type="tel"
            formControlName="numero"
            placeholder="Número"
            class="w-full p-2 rounded border border-white bg-blue-600 text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-blue-400"
          />
          <small class="text-red-500" *ngIf="contactForm.get('numero')?.touched && contactForm.get('numero')?.invalid">
            Introduce un número válido.
          </small>
        </div>
    
        <!-- Campo: Mensaje -->
        <div class="mb-4">
          <textarea
            formControlName="mensaje"
            placeholder="Mensaje"
            class="w-full p-2 rounded border border-white bg-blue-600 text-white placeholder-white focus:outline-none focus:ring-2 focus:ring-blue-400"
            rows="4"
          ></textarea>
          <small class="text-red-500" *ngIf="contactForm.get('mensaje')?.touched && contactForm.get('mensaje')?.invalid">
            El mensaje es obligatorio.
          </small>
        </div>
    
        <!-- Botón de envío -->
        <div class="flex justify-center text-center">
          <button
          (onClick)="confirm1($event)"
            type="submit"
            [disabled]="contactForm.invalid"
            class="mt-3 custom-button p-button ripple-effect press-button w-full sm:w-fit bg-pink-500 hover:bg-pink-600 text-white rounded py-2 px-4"
            (click)="eventos.onRippleEffect($event)"
          >
            <span class="button-text text-center sm:text-left w-full">Contáctame</span>
            <span class="hover-overlay"></span>
          </button>
        </div>
      </form>
    </div>
    

  </div>
</div>
</section>
